packaging_format = 2

id = "kubo"
name = "Kubo"
description.en = "Global, versioned, peer-to-peer filesystem"
description.fr = "Système de fichiers global, versionné, peer-to-peer"

version = "0.20.0~ynh1"

maintainers = [""]

[upstream]
license = "MIT"
website = "https://ipfs.tech/"
admindoc = "https://yunohost.org/packaging_apps"
code = "https://github.com/ipfs/kubo"

[integration]
yunohost = ">= 11.1.19"
architectures = "all"
multi_instance = true
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/ipfs/kubo/releases/download/v0.20.0/kubo_v0.20.0_linux-amd64.tar.gz"
        sha256 = "46f3f14d75640dfedb0ee79ccb87eefa30da5c00b0af2c30f02f13454f5ab072"
        autoupdate.strategy = "latest_github_tag"

        #[resources.sources.cluster]
        #url = "https://dist.ipfs.tech/ipfs-cluster-service/v1.0.6/ipfs-cluster-service_v1.0.6_linux-amd64.tar.gz"
        #sha256 = "79f4caadb5437f3e3c064d03fc88a4db26c81f484560caa101ed9300f30d5732"

    [resources.ports]
    main.default = 5001

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.show_tile = false
    api.allowed = "visitors"

    [resources.ports]
